<!DOCTYPE html>
<html>
<head>
  <title>Driverhunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="fixed-top">
  <div class="container">
    <header>
      <%= image_tag 'logo.jpeg', class: 'logo' %>

      <section class="login-prompt">
        <a class="header-text" href="#">LOGIN</a>
        <a class="header-text" href="#">SIGN UP</a>
        <button class="btn btn-default red-button header-button">Post a Project</button>
      </section>

    </header>
  </div>
</div>

<div id="help">
  <div class="above-fold">
    <div class="pp-container cf">
      <h2>Welcome to the</h2>
      <h1>HELP CENTER</h1>
      <h3>The help center is your one-stop shop for learning about Freelancer United Kingdom. Everything from payments, tips on posting or winning projects, when to consider a contest, and the Freelancer Lifestyle.</h3>
    </div>  
  </div>

  <div class="pp-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="article">
          <p class="category">HELP CENTER</p>
          <h2 class="title"><a href="">What is Required to Become Verified?</a></h2>
          <p class="author">by thatjpcsguy - 9 September, 2014</p>
          <p class="sample">To become Freelancer.com Verified, we require you provide proof of identity, Keycode Verification and proof of address.</p>
        </div>
        <div class="article">
          <p class="category">HELP CENTER</p>
          <h2 class="title"><a href="">What is Required to Become Verified?</a></h2>
          <p class="author">by thatjpcsguy - 9 September, 2014</p>
          <p class="sample">To become Freelancer.com Verified, we require you provide proof of identity, Keycode Verification and proof of address.</p>
        </div>
        <div class="article">
          <p class="category">HELP CENTER</p>
          <h2 class="title"><a href="">What is Required to Become Verified?</a></h2>
          <p class="author">by thatjpcsguy - 9 September, 2014</p>
          <p class="sample">To become Freelancer.com Verified, we require you provide proof of identity, Keycode Verification and proof of address.</p>
        </div>
        <div class="article">
          <p class="category">HELP CENTER</p>
          <h2 class="title"><a href="">What is Required to Become Verified?</a></h2>
          <p class="author">by thatjpcsguy - 9 September, 2014</p>
          <p class="sample">To become Freelancer.com Verified, we require you provide proof of identity, Keycode Verification and proof of address.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <h2 id="message-heading">Send us a message</h2>

        <form action="">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <label for="question">How can we help?</label>
          <textarea id="question" class="form-control" rows="3">
          </textarea>
          <br>
          <button class="btn btn-default red-button">Send Message</button>

        </form>

      </div>
    </div>
  </div>

</div>


<!-- Footer -->

<section id="footer">
  
  <!-- Counter -->

  <section id="counter">
    <div class="counter-left"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1>23,776</h1>
          <p>Users Online</p>
        </div>
        <div class="col-sm-4">
          <h1>14,229,454</h1>
          <p>Users</p>
        </div>
        <div class="col-sm-4">
          <h1>6,986,530</h1>
          <p>Projects</p>
        </div>
      </div>
    </div>
  </section>

  <div class="pp-container">
    <div class="row">
      <div class="col-sm-2 col-sm-push-1">Find freelancers</div>
      <div class="col-sm-2 col-sm-push-1">Freelance projects</div>
      <div class="col-sm-2 col-sm-push-1">Freelance jobs</div>
      <div class="col-sm-2 col-sm-push-1">Freelance contests</div>
      <div class="col-sm-2 col-sm-push-1">Hire Freelancers</div>
    </div>
    <div class="row">
      <div class="com-sm-2 col-sm-push-5">Freelance work</div>
      
    </div>
    <div class="row">
      Copyright 2015
    </div>
  </div>

</section>

</body>
</html>