<!DOCTYPE html>
<html>
<head>
  <title>Driverhunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">


<div class="fixed-top">
  <div class="container">
    <header>
      <a href="#" class="home-link"><%= image_tag 'logo.png', class: 'logo' %></a>

      <section class="login-prompt">
        <% if user_signed_in? %>
          <%= render "user_dropdown" %>
        <% else %>
          <a href="#" class="header-text login-link">LOGIN</a>
          <a href="#" class="header-text signup-link">SIGN UP</a>
        <% end %>
        <a href="#">
          <button class="btn btn-default red-button large-button hire-link header-button">Post a Job Free</button>
        </a>
      </section>

    </header>
  </div>
</div>



<div id="carousel" class="carousel slide" data-ride="carousel">
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
  <div class="carousel-inner" role="listbox">
    <div id="carousel-1" class="item active">
      <div class="container">
        <h1>Find Drivers</h1>
        <h2>All the drivers in your community. Find in minutes and hire with no agency fees.</h2>
        <button class="btn dark red-button hire-work-buttons hire-link">Hire</button>
        <button class="btn dark red-button hire-work-buttons signup-link">Work</button>
      </div>
    </div>
  </div>
</div>

<!-- Hire section -->

<section id="hire">
  <div class="container">
    <h1 class="homepage-header">Find drivers in no time!</h1>

    
    <div id="method-box-wrap">
      <div id="method-box" class="cf">
        <div class="method-item">
          <%= image_tag 'hire/job.png' %>
          <p>Post your job</p>
        </div>
        <div class="chevron">></div>
        <div class="method-item">
          <%= image_tag 'hire/people.png' %>
          <p>Compare drivers</p>
        </div>
        <div class="chevron">></div>
        <div class="method-item">
          <%= image_tag 'hire/money.png' %>
          <p>Pay only once satisfied</p>
        </div>
      </div>
    </div>

    <form action="post-job" method="GET" class="category-and-address-section">

      <label for="other-category">I need...</label>     
      <select name="category" id="job_category" name="category" class="form-control">
        <option value="default">Select type of driver</option>
        <%= options_for_select(Category.all.map{|c|[c.name_of_user.titleize + "s", c.id]} << ["Other...", nil], params[:category]) %>
      </select>
      
      <div id="other-wrap">
        <br>
        <label for="other-category">Other type of work:</label>
        <input type="text" id="other-category" name="other_category" class="form-control">
      </div>          

      <div class="row" id="address-row">
        <div class="col-xs-12">
          <%= label :postcode, "Near this postcode or address:" %>
          <div class="input-group">
          <%= text_field_tag :postcode, nil, class: 'postcode-finder form-control', placeholder: 'E.g. SW1 3BH' %>
          </div>
        </div>       
      </div>

      <%#= link_to post_job_path do %>
        <button type="submit" id="hire-button" class="btn btn-default red-button">Post Job</button>
      <%# end %>
    </form>


    <a href="#" id="looking-for-work" class="signup-link">Looking for work?</a>
  </div>
</section>

<!-- Work Sign Up section -->
<section id="work-signup">
  <div class="container">
    <h1 class="homepage-header">Sign up for free today!</h1>
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <button class="btn facebook-button">
          <%= image_tag "facebook.png" %>
          &nbsp;Sign up with Facebook
        </button>
      <% end %>
    <div class="or-line cf">
      <div class="line"></div>
      <div class="or">or</div>
      <div class="line"></div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'email-signup', id: 'signup-form' }, remote: true) do |f| %>
      <p id="signup-errors"><%= notice %></p>   
      <div class="form-group">
        <i class="glyphicon glyphicon-envelope"></i>
        <%= f.email_field :email, class: 'form-control', id: 'email', placeholder: 'Email Address' %>
      </div>
      <div class="form-group">
        <i class="glyphicon glyphicon-user"></i>
        <!-- <input type="text" class="form-control" id="username" placeholder="Username"> -->
        <%= f.text_field :username, class: 'form-control', id: 'username', placeholder: 'Username' %>

      </div>
      <div class="form-group">
        <i class="glyphicon glyphicon-lock"></i>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password', placeholder: 'Password' %>
      </div>
      <div class="form-group">
        <i class="glyphicon glyphicon-lock"></i>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'confirm-password', placeholder: 'Confirm password' %>
      </div>

      <div id="work-type">
        <label for="work">I am looking to</label><br>
        <div id="hire-work-radios" class="cf">
          <label>
            <input type="radio" name="work-type" id="hire-radio" value="hire" checked>
            Hire
          </label>
          <label>
            <input type="radio" name="work-type" id="work-radio" value="work" checked="checked">
            Work
          </label>
        </div>
      </div>

        <%= f.submit "Create account", class: 'btn green-button' %>
      <p id="terms-create-account">By registering you confirm that you accept the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a></p>
    <% end %>

  </div>

</section>

<!-- Login section -->
<section id="login">
  <div class="container">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <button class="btn facebook-button">
        <%= image_tag "facebook.png" %>
        &nbsp;Login with Facebook
      </button>
    <% end %>
    <div class="or-line cf">
      <div class="line"></div>
      <div class="or">or</div>
      <div class="line"></div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'email-signup cf', id: 'login-form'}, remote: true ) do |f| %>
      <p id="login-errors"><%= notice %></p>    
      <div class="form-group">
        <i class="glyphicon glyphicon-user"></i>
        <%= f.text_field :login, class: 'form-control', id: 'username', placeholder: 'Username or Email', value: 'wrftaylor@gmail.com' %>
      </div>
      <div class="form-group password-wrap">
        <i class="glyphicon glyphicon-lock"></i>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password', placeholder: 'Password', value: '12345678' %>    
      </div>

      <div id="remember-me" class="checkbox">
        <label>
          <%= f.check_box :remember_me %> Remember me
        </label>
      </div>

      <div class="cf">
        <%= f.submit "Login", id: 'create-account', class: 'btn red-button'  %>
        <a id="forgot-password" href="">Forgot password?</a>
      </div>
    <!-- </form> -->
    <% end %>

    <hr>

    <p id="no-account">Don't have an account? <a class="signup-link" href="">Sign up now!</a></p>

  </div>

</section>


<!-- How it works section -->
<section id="how-it-works">
  <div class="container">
    <div class="how-text">
      <h1 class="homepage-header">How Driver Hunt Works</h1>
      <p>Post any job opening you need done and receive interest from our talented London drivers within minutes. Compare their profiles and chat direct, then select the best driver to join your company. Easy!</p>
      <p class="benefits">What are your benefits?</p>
      <ul class="tick">
        <li>Find drivers from your community in London</li>
        <li>Instant chat, job histories, and proof of passport, right to work and licenses.</li>
        <li>Pay for your driver's details safely and securely. Only release payment for their contact details when you're 100% satisfied with the driver. Work with them forever at no extra cost!</li>
      </ul>

    </div>

    <div class="how-gif hire-link">
      <%= image_tag 'gif.gif', id: 'explainer' %>
    </div>
  </div>
</section>

<!-- Examples section -->

<section id="examples">
  <div class="container">
    <h1 class="homepage-header">Hire Professional and Talented Drivers</h1>    
    <div class="row">
      <div class="col-sm-3"><%= image_tag 'examples/example-1.jpg' %></div>
      <div class="col-sm-3"><%= image_tag 'examples/example-2.jpg' %></div>
      <div class="col-sm-3"><%= image_tag 'examples/example-3.jpg' %></div>
      <div class="col-sm-3"><%= image_tag 'examples/example-4.jpg' %></div>
    </div>
    <div class="row">
      <div class="col-sm-3"><%= image_tag 'examples/example-5.jpg' %></div>
      <div class="col-sm-3"><%= image_tag 'examples/example-6.jpg' %></div>
      <div class="col-sm-3"><%= image_tag 'examples/example-7.jpg' %></div>
      <div class="col-sm-3"><%= image_tag 'examples/example-8.jpg' %></div>
    </div>
  </div>
</section>

<!-- Get started section -->

<section id="get-started">
  <div class="container">
    <h1 class="homepage-header">Get your drivers now...</h1>    
    <div class="row">
      <div class="col-sm-3">
        <%= link_to post_job_path do %>
        <div class="icon-wrap">
            <%= image_tag 'home/get-started/icon-1.png', class: 'icon'  %>
        </div>
        <% end %>
        <p>See their license online</p>
      </div>
      <div class="col-sm-3">
        <%= link_to post_job_path do %>
          <div class="icon-wrap">
            <%= image_tag 'home/get-started/icon-2.png', class: 'icon'  %>
          </div>
        <% end %>
        <p>Chat to drivers direct</p>
      </div>
      <div class="col-sm-3">
        <%= link_to post_job_path do %>
          <div class="icon-wrap">
            <%= image_tag 'home/get-started/icon-3.png', class: 'icon'  %>
          </div>
        <% end %>
        <p>No agency fees</p>
      </div>
      <div class="col-sm-3">
        <%= link_to post_job_path do %>
          <div class="icon-wrap">
            <%= image_tag 'home/get-started/icon-4.png', class: 'icon'  %>
          </div>
        <% end %>
        <p>Car, Bike, Taxi, Van, Lorry</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<%= render 'footer' %>


</body>
</html>
