<!DOCTYPE html>
<html>
<head>
  <title>Driverhunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<section class="header blank-header">
  <div class="pp-container">
    <%= image_tag 'pp-logo.png', class: 'pp-logo' %>
  </div>
</section>

<div class="pp-container cf">
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Left: job form -->
  <div class="main-form">
    <%= form_for(@job) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <!-- <form id="post-project-form" action="/dashboard" method="GET"> -->
 
      <ol class="numbers">
        <!-- Work required -->
        <li class="numbers-li category-and-address-section">
          <legend>Who do you need?</legend>

          <%= f.select :category, '<option value="Motorcyclist">Motorcyclist</option>
              <option value="Van Driver">Van Driver</option>
              <option value="Lorry Driver">Lorry Driver</option>
              <option value="Taxi Driver">Taxi Driver</option>
              <option value="Car Driver">Car Driver</option>
              <option value="Push-Bike Cyclist">Push-Bike Cyclist</option>
              <option id="other" value="Other">Other...</option>'.html_safe, {}, {class: 'form-control'}
           %>

          <div id="other-wrap">
            <br>
            <label for="other-category">Other type of work:</label>
            <input type="text" id="other-category" name="other_category" class="form-control">
          </div>          

          <div class="row" id="address-row">
            <div class="col-sm-8">
              <%= f.label :postcode, "Near this postcode or address:" %>
              <div class="input-group">
              <%= f.text_field :postcode, class: 'postcode-finder form-control', placeholder: 'E.g. SW1 3BH' %>
              <span class="input-group-btn">
                <button id="find-postcode" class="btn btn-default" type="button">Find</button>
              </span>
              </div>
            </div>
            <div class="col-sm-4">
              <img id="location-map" src="https://maps.googleapis.com/maps/api/staticmap?center=N1+6DR&size=153x153&markers=color:red|N1+6DR" alt="">
            </div>          
          </div>

        </li>
        <!-- Job description -->
        <li class="numbers-li">
          <legend>Tell us more about the job</legend>
          <div class="form-group">
            <%= f.label :name do %>
              Job Name: <a class="info">?</a>
            <% end %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div id="skills-input" class="form-group">
            <label for="project-name">Enter some skills that relate to the job (comma seperated): <a class="info">?</a></label>


            <%= f.select :skill_list, '
              <option value="Driver\'s license">Driver\'s license</option>
              <option value="Provisional license">Provisional license</option>
              <option value="GPS">GPS</option>
              <option value="Knows local area">Knows local area</option>
              <option value="PCO License">PCO License</option>
            '.html_safe, {}, {id: 'job-skills', class: 'form-control', multiple: 'multiple'}
           %>

           <!--  <div id="skill-helper-box">
              <p class="header">Skill Suggestions (add 3 more)</p>
              <ul>
                <a href=""><li>Book Writing</li></a>
                <a href=""><li>Articles</li></a>
                <a href=""><li>Article Rewriting</li></a>
                <a href=""><li>Copywriting</li></a>
                <a href=""><li>Blog</li></a>
                <a href=""><li><i class="glyphicon glyphicon-plus"></i> More</li></a>
              </ul>
            </div> -->
          </div>
          
          <div class="form-group">
            <%= f.label :description do %>
              Describe your job in detail: <a class="info">?</a>
            <% end %>
            <%= f.text_area :description, class: 'form-control', placeholder: 'Describe your project here...', rows: '4' %>
          </div>
        </li>
        <!-- Budget -->
        <li class="numbers-li budget">
          <legend>Who provides the vehicle?</legend>

          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              
              <li role="presentation" class="active"><a id="vehicle-provided-by-driver" href="#fixed" aria-controls="fixed" role="tab" data-toggle="tab">DRIVER PROVIDES OWN VEHICLE</a></li>
              <li role="presentation"><a id="vehicle-provided-by-employer" href="#hour" aria-controls="hour" role="tab" data-toggle="tab">HUNTER PROVIDES VEHICLE</a></li>
            </ul>
            <%= f.hidden_field :employer_provides_vehicle, value: 0 %>

            <!-- Tab panes -->
            <!-- <div class="tab-content cf">
              <div role="tabpanel" class="tab-pane active" id="fixed">
                <select class="form-control currency">
                  <option>GBP</option>
                </select>
                <select class="form-control project-size">
                  <option>Very small project (£250 - £750 GBP)</option>
                </select>
              </div>
              <div role="tabpanel" class="tab-pane" id="hour">
                <div class="block cf">
                  <select class="form-control currency">
                    <option>GBP</option>
                  </select>
                  <select class="form-control project-size">
                    <option>Standard (£10 - £15 GBP)</option>
                  </select>
                </div>

                <label id="duration-label" class="block" for="duration">Project duration</label>
                <select name="duration" id="duration" class="form-control">
                  <option>1 week - 4 weeks</option>
                </select>
                <label id="hours-label" class="block" for="hours-required">Hours of work required</label>
                  <input id="hours-known" type="radio" name="hours-required" value="known">
                    <input type="text" class="form-control" id="hours-input"><span> Hours of work per </span><select name="hours-required" id="time-select" class="form-control">
                      <option>Week</option>
                      <option>Month</option>
                    </select>
                  <input type="radio" id="hours-unknown" name="hours-required" value="unknown"><label id="hours-unknown-label" for="hours-unknown">I'm not sure</label>

                
              </div>
            </div> -->

          </div>

        </li>
        <!-- Upsell -->
        <!-- <li>
          <legend>Get the most from your project! (optional)</legend>
        </li> -->
        <div id="post-project-div">
          <p id="terms">
          <% if user_signed_in? %>
            <button class="btn btn-default blue-button">Post Job Now</button>
          <% else %>
            <button type="button" class="btn btn-default blue-button" data-toggle="modal" data-target="#login-modal">
            Post Project Now
            </button>
          <% end %>
            By clicking 'Post Project Now', you are indicating that you have read and agree to the <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></p>
        </div>

        <!-- Button trigger modal -->
        
      </ol>
    <!-- </form> -->
    <% end %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign up for free to post!</h4>
        </div>
        <div class="modal-body tab-content" role="tabpanel">


          <section role="tabpanel" class="tab-pane active" id="modal-signup">
            <div class="row">
              <div class="col-sm-6">
                <button class="btn facebook-button">
                  <%= image_tag "facebook.png" %>
                  &nbsp;Sign up with Facebook
                </button>
              </div>
              <div class="col-sm-6 grey-border-left">
                <p class="tiny-title">or sign up with email:</p>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'email-signup', id: 'signup-form' }, remote: true) do |f| %>
                  <p id="signup-errors"></p>    
                  <div class="form-group">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <%= f.email_field :email, class: 'form-control', id: 'email', placeholder: 'Email Address' %>
                  </div>
                  <div class="form-group">
                    <i class="glyphicon glyphicon-user"></i>
                    <%= f.text_field :username, class: 'form-control', id: 'username', placeholder: 'Username' %>
                  </div>
                  <div class="form-group">
                    <i class="glyphicon glyphicon-lock"></i>
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password', placeholder: 'Password' %>
                  </div>
                  <div class="form-group">
                    <i class="glyphicon glyphicon-lock"></i>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'confirm-password', placeholder: 'Confirm password' %>
                  </div>

                  <%= f.submit "Create account", class: 'btn green-button' %>
                <% end %>
                <br>
                <p class="tiny-title">or do you already have an account?<br><a href="#modal-login" aria-controls="modal-login" role="tab" data-toggle="tab">Login to existing account</a></p>

              </div>
            </div>

          </section>

          <section role="tabpanel" class="tab-pane" id="modal-login">
            <div class="row">
              <div class="col-sm-6">
                <button class="btn facebook-button">
                  <%= image_tag "facebook.png" %>
                  &nbsp;Login with Facebook
                </button>
              </div>
              <div class="col-sm-6 grey-border-left">
                <p class="tiny-title">or login with email:</p>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'email-signup cf', id: 'login-form'}, remote: true ) do |f| %>
                  <p id="login-errors"></p>    
                  <div class="form-group">
                    <i class="glyphicon glyphicon-user"></i>
                    <%= f.text_field :login, class: 'form-control', id: 'username', placeholder: 'Username or Email', value: 'wrftaylor@gmail.com' %>
                  </div>
                  <div class="form-group password-wrap">
                    <i class="glyphicon glyphicon-lock"></i>
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password', placeholder: 'Password', value: '12345678' %>    
                  </div>

                  <div id="remember-me" class="checkbox">
                    <label>
                      <%= f.check_box :remember_me %> Remember me
                    </label>
                  </div>

                  <div class="cf">
                    <%= f.submit "Login", id: 'create-account', class: 'btn orange-button'  %>
                    <a id="forgot-password" href="">Forgot password?</a>
                  </div>
                <!-- </form> -->
                <% end %>

                <hr>

                <p id="no-account">Don't have an account?<a href="#modal-signup" aria-controls="modal-signup" role="tab" data-toggle="tab"> Sign up now!</a></p>
              </div>
            </div>


          </section>

        </div>
        <div class="modal-footer">
          <p id="terms-create-account">By registering you confirm that you accept the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Information to help with the form -->
  <div class="form-helpers">
    <div id="info-box">
        <p class="header"><strong>FREE</strong> TO POST A PROJECT</p>

        <h1>Try it today!</h1>
        <ul>
          <li>Get bids from skilled freelancers in minutes.</li>
          <li>View freelancer profiles and feedback, then instantly chat with them!</li>
          <li>With only a 3%* commission fee, your favorite freelancer can start working for you today!</li>
          <li>Pay the freelancer once you're 100% satisfied.</li>
          
        </ul>      
        <p class="minimum-fees">* minimum fees may apply.</p>

    </div>
  </div>

</div>


<!-- Footer -->

<section id="footer">
  
  <!-- Counter -->

  <section id="counter">
    <div class="counter-left"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1>23,776</h1>
          <p>Users Online</p>
        </div>
        <div class="col-sm-4">
          <h1>14,229,454</h1>
          <p>Users</p>
        </div>
        <div class="col-sm-4">
          <h1>6,986,530</h1>
          <p>Projects</p>
        </div>
      </div>
    </div>
  </section>

  <div class="pp-container">
    <div class="row">
      <div class="col-sm-2 col-sm-push-1">Find freelancers</div>
      <div class="col-sm-2 col-sm-push-1">Freelance projects</div>
      <div class="col-sm-2 col-sm-push-1">Freelance jobs</div>
      <div class="col-sm-2 col-sm-push-1">Freelance contests</div>
      <div class="col-sm-2 col-sm-push-1">Hire Freelancers</div>
    </div>
    <div class="row">
      <div class="com-sm-2 col-sm-push-5">Freelance work</div>
      
    </div>
    <div class="row">
      Copyright 2015
    </div>
  </div>

</section>

</body>
</html>