$cyan: #54b4e3;
$blue: #379cd4;
$red: #e2585d;
$dark-red: #bd292d;
$light-red: #ffdee0;


.projects-box{
  margin-top: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 20px 22px;

  p.hire-label{
    font-weight: bold;
    font-size: 13px;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
    button{
      float: right;
      margin-left: 20px;
    }
  }

  h1{
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .project-search{
    float: right;
    width: 358px;
    p{
      margin-top: 7px;
      font-size: 12px;
    }
    #search-bar{
      float: right;
      width: 250px;
      margin-left: 8px;
    }
    select.select-sm {
      margin-top: 5px;
      float: right;
      width: 60px;
    }
  }
}

#project-table{
  .nav.nav-tabs{
    ul{
      padding-left: 10px;
    }
    li{
      margin-left: 5px;
    }
    li a{
      background-color: #d9d9d9;
      border: none;
      color: #858585;
      font-size: 12px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    li.active a{
      background-color: $dark-red;
      color: white;
    }
  } 

  .row{
    height: 35px;
    font-size: 14px;
    padding-top: 7px;
    color: $dark-red;
    &.header{
      color: white;
      background-color: $dark-red;
      text-align: center;
      padding-top: 5px;
      height: 30px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    &.odd{
      background-color: $light-red;
    }
    div{
      float: left;
    }
    .name{
      width: 34%;
      padding-left: 12px;
    }
    .bids{
      width: 12%;
      text-align: center;
    }
    .avg-bid{
      width: 16%;
      text-align: center;
    }
    .bid-end-date{
      width: 25%;
      text-align: center;
    }
    .action{
      width: 13%;
    }
  }

}

.feedback{
  font-size: 13px;
  a{
    color: $red;
  }
  border-bottom: 1px solid #dadada;
}