$cyan: #54b4e3;
$red: #e2585d;
$dark-red: #bd292d;


#profile{
  margin-top: 22px;

  .left{
    .profile-picture{
      border: 3px solid #bdde5e;
      border-radius: 2px;
      position: relative;
      img{
        width: 100%;
      }
      .change-picture{
        position: absolute;
        top: 0;
        right: 0;
        width: 110px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        color: #6a6a6a;
        background-color: #fafafa;
        border: 1px solid #d6d6d6;
      }
      .online{
        border-top: 1px solid white;
        border-left: 1px solid white;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #bdde5e;
        color: #5fad02;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        width: 60px;
      }
    } // end Profile Picture
    .hire-me{
      border: 1px solid $red;
      padding: 0;
      background-color: $red;
      height: 64px;
      width: 100%;
      margin-top: 10px;
      p{
        padding-top: 13px;
        color: white;
        font-size: 24px;
        font-weight: bold;
      }
      color: white;
      .icon-wrap{
        float: left;
        width: 62px;
        height: 100%;
        background-color: white;
        padding-left: 2px;
        padding-top: 14px;
        position: relative;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        img{
          height: 32px;
        }
        &:before{
          content: '';
          position: absolute;
          top: 22px;
          right: -9px;
          height: 18px;
          width: 9px;
          border-left: 9px solid white;
          border-top: 9px solid $red;
          border-bottom: 9px solid $red;
        }
      }
    } // end Hire me
    .interactions{
      padding: 10px 0;
      .hire{
        padding-right: 3px;
      }
      .chat{
        padding-left: 3px;
      }
    }
    .contact-details{
      margin: 10px 0px 20px;
      padding: 10px 10px 1px;
      background-color: #D3AF37;
      border-radius: 4px;
      h2{ margin-top: 0; }
      input{ cursor: default; }
    }
    .rate{
      margin-top: 10px;
      border: 1px solid #d6d6d6;
      padding: 10px;
      text-align: center;
      border-radius: 4px;
      font-size: 18px;
    } // end Rate
    .follow-invite-box{
      margin-top: 10px;
      font-size: 13px;
      button{
        width: 132px;
      }
      button#follow{
        float: left;
      }
      button#invite{
        float: right;
      }
    } // end follow-invite
    #profile-controls{
      margin-top: 0px;
      color: #424242;
      background-color: white;
      li{
        border-bottom: 1px solid #e7e7e7;
        &:last-of-type{
          border-bottom: none;
        }
        a{
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
      li+li{
        margin-top: 0;
      }
      i{
        float: right;
        color: #d5d5d5;
        font-size: 10px;
        margin-top: 3px;
      }
      .active a{
        // border-radius: 7px;
        border: none;
        background-color: $red;
        color: white;
        i{
          float: right;
          color: white;
        }
      }
      
    }

  } // end Left
  .right{
    #personal-info{
      min-height: 355px;
      h1{
        margin-top: 10px;
        margin-bottom: 0;
      }
      h2#personal-summary{
        margin-top: 14px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #686868;
        .example{
          font-size: 12px;
          font-weight: normal;
        }
      }
      p{
        color: #424242;
        font-size: 13px;
        margin-bottom: 2px;
      }
      .username{
        margin-bottom: 0;
      }
      .description{
        margin-top: 10px;
        p{ margin-bottom: 10px; }
      }
      form{
        margin-bottom: 5px;
      }
      label{
        color: #424242;
        font-size: 12px;
      }
    } // end Personal-info 
    .edit-name{
      input.green-button{
        margin-top: 25px;
      }
    }
    #reputation{
      text-align: center;
      border-left: 1px dotted #d6d6d6;
      margin-top: 40px;
      h1{
        font-size: 56px;
        color: #686868;
        .rating-max{
          font-size: 22px;
        }
      }
      p{
        color: #464646;
      }
      img{
        display: inline-block;
      }

    } // end Reputation
    #activity{
      h2{
        margin-bottom: 30px;
      }
    }
    #projects{
      border-left: 1px dotted #d6d6d6;
      height: 100%;
      .pie{
        margin-top: 25px;
        border: 1px solid #d6d6d6;
        border-radius: 10px;
        width: 100%;
        height: 145px;
        color: #d6d6d6;
        padding-top: 50px;
        padding-right: 180px;
        text-align: center;
      }
    }
    .second-row{
      padding-top: 20px;
      border-top: 1px dotted #d6d6d6;
    } // end Second Row
    .resume{
      margin-top: 20px;
      h1{
        margin-bottom: 0;
      }
      h2{
        margin-top: 34px;
        border-bottom: 1px dotted #424242;
        line-height: 26px;
        margin-bottom: 20px;
        &#resume-summary{
          margin-top: 25px;
        }
        .edit{
          font-size: 14px;
        }
        .add-item{
          margin-right: 20px;
          font-size: 14px;
        }
      }
      .light-label{
        font-weight: normal;
      }
      .cancel-edit-experience, .cancel-edit-qualification{
        display: inline-block;
        margin-left: 30px;
        color: $red;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
      .experience-item{
        margin-bottom: 45px;
        .dates{
          font-weight: normal;
          float: right;
        }
      }
      .new-experience-item, .new-qualification-item{
        margin-bottom: 100px;
        margin-top: 50px;
        h4{
          color: #424242;
          margin-bottom: 20px
        }
      }
      p{
        margin-top: 4px;
        margin-bottom: 4px;
      }
      .add-item{
        float: right;
        color: $red;
        font-weight: normal;
      }
      a.empty-section{
        display: block;
        margin-top: 20px;
        text-align: center;
        vertical-align: middle;
        height: 70px;
        border: 1px dashed #CCCCCC;
        padding-top: 20px;
        span{
          font-size: 12px;
          background-color: #BEBEBE;
          color: white;
          padding: 5px 8px;
          display: inline-block;
          border-radius: 3px;
          &:hover{
            text-decoration: underline;
          }
        }
        &:hover{
          border-color: #b8b8b8;    
          background-color: #f5f5f5;
          span{
            background-color: #9a9a9a;

          }
        }
      }
    }

    #feedback{
      h2{
        margin-bottom: 38px;
        img{
          display: inline-block;
          margin-left: 34px;
          height: 120%;
        }
        .star-rating{
          margin-left: 3px;
          font-size: 14px;
          color: #424242;
        }
      }
      select{
        float: right;
        width: 120px;
      }
      .star-breakdown{
        p.item{
          font-size: 12px;
          color: #444444;
          margin-bottom: 20px;
          .star-rating, img{
            float: right;
          }
          .star-rating{
            margin-left: 14px;
          }
        }
      }
      .activity{
        padding-top: 8px;
        font-size: 12px;
        color: #444444;
        .total{
          border-top: 1px dotted #d6d6d6;
          padding-top: 16px;
          vertical-align: bottom;
          line-height: 22px;
          strong{
            font-size: 22px;
          }
        }
      }
    }
  } // end Right
}