$cyan: #54b4e3;
$red: #e2585d;
$dark-red: #bd292d;
$light-red: #ffdee0;

$footer-grey: #cecece;
/**
 * Clearfix.
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

a{
  cursor: pointer;
  color: $dark-red;
}

.edit{
  color: $dark-red;
  font-size: 14px;
  font-weight: normal;
}

h1.top-title{
  font-size: 40px;
  color: #424242;
}
h1.standard{
  font-size: 32px;
  color: #424242; 
}
h1.subtitle{
  font-size: 22px;
  color: #424242;
}
h2.standard{
  font-size: 18px;
  color: #424242;
}
h3.standard{
  font-size: 14px;
  color: #424242;
}
h4.standard{
  font-size: 13px;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 8px;
}

.pp-logo{
  padding-top: 5px;
  height: 40px;
}

.orange-button{
  border-radius: 2px;
  background-color: #f39735;
  color: white;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(220,136,47,1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(220,136,47,1);
  box-shadow: 0px 2px 0px 0px rgba(220,136,47,1);
  border:none;
  &:hover{
    background-color: #f39735;
    color: white;
  }
}
.red-button{
  border-radius: 2px;
  background-color: $red;
  &.dark { background-color: $dark-red; }
  color: white;
  font-size: 12px;
  // -webkit-box-shadow: 0px 2px 0px 0px rgba(220,136,47,1);
  // -moz-box-shadow: 0px 2px 0px 0px rgba(220,136,47,1);
  // box-shadow: 0px 2px 0px 0px rgba(220,136,47,1);
  border:none;
  &:hover{
    background-color: $red;
    color: white;
  }
}

.big{
  font-size: 18px;
  width: 190px;
  height: 40px;
}

.green-button{
  border-radius: 2px;
  background-color: #74C767;
  color: white;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(123, 193, 113, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(123, 193, 113, 1);
  box-shadow: 0px 2px 0px 0px rgba(123, 193, 113, 1);

  -webkit-box-shadow: 0px 3px 2px 0px rgba(193,193,193,1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(193,193,193,1);
  box-shadow: 0px 3px 2px 0px rgba(193,193,193,1);

  border:none;
  &:hover{
    background-color: #74C767;
    color: white;
  }
}


.blue-button{
  font-size: 18px;
  border-radius: 2px;
  background-color: #00a3e0;
  color: white;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(53, 147, 199, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(53, 147, 199, 1);
  box-shadow: 0px 2px 0px 0px rgba(53, 147, 199, 1);
  border:none;
  &:hover{
    background-color: #00a3e0;
    color: white;
  } 
}

.grey-button{
  border-radius: 2px;
  background-color: #f9f9f9;
  color: #cbcbcb;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(238, 238, 238, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(238, 238, 238, 1);
  box-shadow: 0px 2px 0px 0px rgba(238, 238, 238, 1);
  border:none;
  &:hover{
    background-color: #f9f9f9;
    color: #cbcbcb;
  }
}

.facebook-button{
  background-color: #3B5998;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(53, 79, 136, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(53, 79, 136, 1);
  box-shadow: 0px 2px 0px 0px rgba(53, 79, 136, 1);
  color: white;
  border:none;
  &:hover{
    color: white;
  }
}

select.select-sm {
  height: auto;
  line-height: 20px;
}
select.select-md {
  height: 28px;
  line-height: 28px;
}


.category-and-address-section{
  #other-wrap{
    display: none;
  }

  #address-row{
    margin-top: 15px;
    label{
      margin-top: 35px;
    }
    #location-map{
      border-radius: 4px;
    }
  }
}

.online-circle{
  float: left;
  height: 8px;
  width: 8px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-right: 8px;
  &.online{
    background-color: #88c669;
    border-color: #88c669;
  }
}

.tab-search{
  input{
    border-right: none;
  }
  button{
    border-left: none;
    color: #cacaca;
  }
}


div {
  &.field{
    margin-bottom: 10px;
  }
}

.notice{
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #bdde5e;
  border: 1px solid #5fad02;
  font-size: 20px;
}
.filler{
  height: 32px;
  width: 100px;
}

.short{
  width: 70px;
  float: left;
}
.vshort{
  float: left;
  width: 50px;
}

// Main Form

.main-form{
  width: 560px;
  margin-right: 80px;
  float: left;

  ol.numbers{
    position: relative;
    padding-left: 30px;
    *list-style-type: decimal; /* numbers for IE6 and IE7 */
  
    >li.numbers-li{
      margin-top: 70px;
      color: white;
      font-weight: normal;
      font-size: 14px;
      padding-left: 10px;
      &:before{
        margin-top: -2px;
        padding-top: 5px;      
        padding-left: 11px;
        content: counter(level1) " "; /*Instead of ". " */
        counter-increment: level1;
        height: 30px;
        width: 30px;
        position: absolute;
        background-color: $red;
        left: 0;
        border-radius: 15px;
        z-index: -1;
      }
      legend{
        font-size: 20px;
        font-weight: normal;
        color: #333333;
        border: none;
      }
      label{
        color: #333333;
        font-size: 14px;
        position: relative;
      }

      span{
        color: #333333;
      }

      ul.nav-tabs{

        border:none;
        >li{
          border: none;
          color: #c7c7c7;
          margin-right: 15px;
          &.active{
            border-bottom: 2px solid $red;
            &:hover{
              border-bottom: 2px solid #3c3f47;
            }
            a{
              border: none;
              color: #3c3f47;
              &:hover{
                color: #3c3f47;
              }
            }
          }
          a{
            padding-left: 0;
            padding-right: 0;
            border: none;
            color: #aaa;
            &:hover{
              color: $red;
              border:none;
              background-color: white;
            }
          }
        }
      }
    }


  }
  
  .select2-container--default .select2-selection--multiple{
    border: 1px solid #ccc;
  }

  
  .info{
    background-color: #333333;
    color: white;
    font-size: 11px;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    display: inline-block;
    padding-left: 2.5px;
    line-height: 12px;
    position: absolute;
    right: -16px;
    top: 3px;
  }
  
}

// End Main Form

// Header

.header{
  position: relative;
  background-color: #3C3F47;
  height: 85px;
  img{
    margin-top: 7px;
  }
  #top-menu{
    height: 45px;
    background-color: #ea6879;
    color: white;
    position: absolute;
    bottom: -20px;
    z-index: 2;
    width: 990px;
    &:before{
      content: '';
      position: absolute;
      left: -16px;
      width: 16px;
      height: 29px;
      background-color: #ea6879;
    }
    &:after{
      content: '';
      position: absolute;
      left: -16px;
      top: 29px;
      width: 16px;
      height: 16px;
      border-right: 16px solid #d15366;
      border-bottom: 16px solid white;
    }
    #top-menu-right{
      &:before{
        content: '';
        position: absolute;
        top: -16px;
        width: 16px;
        height: 16px;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #d15366;
      }
      content: '';
      position: absolute;
      top: 16px;
      right: -16px;
      width: 16px;
      height: 29px;
      background-color: #ea6879;
    }

    ul{
      padding-left: 0;
      height: 45px;
      margin-bottom:0;
      li{
        height: 100%;
        display: inline-block; 
        list-style-type: none; 
        a{
          padding-left: 10px;
          padding-right: 10px;
          color: white;
          font-size: 16px;
          height: 100%;
          display: inline-block;
          padding-top: 10px;
          &:hover{
            color: white;
            text-decoration: none;
            background-color: #d15366;
          }
        }
      }
    } // end ul

    .input-group{
      float: right;
      width: 140px;
      margin-top: 7px;
      margin-right: 7px;
    }
    
  }
  #second-menu{
    height: 40px;
    background-color: white;
    color: black;
    position: absolute;
    bottom: -60px;
    z-index: 2;
    width: 990px;
    border-bottom: 1px solid #cccccc;
    ul.left-menu{
      padding-left: 0;
      height: 45px;
      margin-bottom:0;
      li.left-menu{
        height: 100%;
        display: inline-block; 
        list-style-type: none; 
        a{
          padding-left: 10px;
          padding-right: 10px;
          color: black;
          font-size: 14px;
          display: inline-block;
          padding-top: 10px;
          &:hover{
            color: black;
            text-decoration: none;
            background-color: white;
          }
        }
      }
    }
    #user-dropdown-wrap{
      margin-top: 2px;
      margin-right: 10px;
      button{
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

.buffer{
  height: 60px;
}

.blank-header{
  img{
    margin-top: 7px;
  }
  height: 70px;
}

.pp-container{
  width: 990px;
  margin: auto;
}

// End header


// Footer

// Counter

#counter{
  height: 120px;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: -45px;
  // right: 0;
  // .counter-left{
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   height: 100%;
  //   width: 30%;
  //   z-index: -1;
  //   background-color: $red;
  // }
  .container{
    background-color: $red;
    height: 100%;
    position: relative;
    .col-sm-4{
      text-align: center;
      h1{
        margin-top: 36px;
        margin-bottom: 0;
        font-size: 41px;
        // font-weight: lighter;
        display: inline-block;
        margin-right: 6px;
      }
      p{
        font-size: 20px;
        margin-top: 7px;
        margin-bottom: 0;
        font-weight: lighter;
        letter-spacing: 1.5px;
        display: inline-block;

      }
    }
  }
  .container:before{
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    bottom: 30px;
    background-color: $red;
    content: ' ';
    height: 90px;
  }
  .container:after{
    position: absolute;
    top: 90px;
    right: -29px;
    width: 0;
    height: 0;
    bottom: 90px;
    content: ' ';
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color:  $dark-red transparent transparent transparent;
  }
  
}

// End Counter

#footer{
  position: relative;
  background-color: #313132;
  color: $footer-grey;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
  margin-top: 240px;
  .row{
    margin-bottom: 50px;
  }
  a{
    color: $footer-grey;
  }
}

// End Footer

// Tooltip

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    z-index: 1;
    opacity: 0;
    font-size: 16px;
    line-height: 20px;
    width: 300px;

    /* customizable */
    // transition: all 0.15s fade;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: $light-red;
    margin-top: -150px;
    margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

// End tooltip