<div class="experience-item <%= item.id %>">
  <h3 class="standard">
    <%= item.job_title %>
    <% if @user == current_user %>
      <%= link_to edit_experience_item_path(item.id), remote: true, class: 'edit' do %>
        [<i class="glyphicon glyphicon-pencil"></i> edit]
      <% end %>
      <%= link_to '[delete]', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'edit' %>
    <% end %>
    <span class="dates"><%= item.start_date.strftime("%b %Y") %> - <%= item.end_date_or_present %> (<%= item.timespan %>)</span></h3>
  <h4 class="standard"><%= item.location %></h4>
  <p><%= item.description %></p>
</div>