<div id="messaging">
  <div class="row chat-header">
    <div class="col-xs-4 left">
      <h1>Messages</h1>
      <a href="" class="mark-read">Mark all as read</a>
      <ul id="folder-select" class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent (0)</a></li>
        <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
        <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
      </ul>
    </div>
    <div class="col-xs-8 right">
      
      <div class="chat-context-info">
        <div class="payment-info">
          <h1>$450</h1>
          <p class="time">in 4 days</p>
        </div>
        <div class="project-status">
          Awarded
        </div>
      </div>

      <h1 class="partner-name">thelionstuidos</h1>
      <h2>Project: <span class="project-name">Do you do branding?</span></h2>
      
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 recent-conversations left">
      <div class="tab-content">
        
        <ul>
          <% @users.each_with_index do |user, index| %>
            <li><%= user.id %> - <%= user.full_name %>
              <%= link_to "Send Message", "#", class: "btn btn-default btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %></li>
          <% end %>
        </ul>

        <br>
        <br>
        <br>
        <br>
        <div role="tabpanel" class="tab-pane active" id="recent">
        <ul id="folder-select" class="nav nav-pills nav-stacked" role="tablist">
          <li role="presentation" class="active"><a href="#conversation1" aria-controls="conversation1" role="tab" data-toggle="tab">
            <%= image_tag "chat/chat_icon.png" %>
            <div class="online-circle online"></div>
            <p class="name">
              thelionstuidos
              <span class="last-sent">Just now</span>
            </p>
            <p class="topic"><i class="glyphicons glyphicons-folder-open"></i> Do you like branding?</p>
          </a></li>
          <li role="presentation" class=""><a href="#conversation2" aria-controls="conversation2" role="tab" data-toggle="tab">
            <%= image_tag "chat/chat_icon.png" %>
            <div class="online-circle online"></div>
            <p class="name">
              thelionstuidos
              <span class="last-sent">Just now</span>
            </p>
            <p class="topic"><i class="glyphicons glyphicons-folder-open"></i> Do you like branding?</p>
          </a></li>
        </ul>

        </div>
        <div role="tabpanel" class="tab-pane" id="all">all</div>
        <div role="tabpanel" class="tab-pane" id="search">search</div>
      </div>

    </div>
    <div class="col-xs-8 conversation-box">
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          

           <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="conversation1">
              <ul>
                <li class="cf">
                  <div class="bubble them">
                    Hey there <span class="time">11:49</span>
                  </div>
                </li>
                <li class="cf">
                  <div class="bubble me">
                    Hey there <span class="time">11:49</span>
                  </div>
                </li>
                <li class="cf">
                  <div class="bubble me">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eius labore impedit illo veritatis hic sapiente, earum alias voluptatum. Culpa asperiores hic quaerat maiores quisquam repudiandae odio itaque, commodi facere? <span class="time">11:49</span>
                  </div>
                </li>
              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" id="conversation2">
              
              <ul>
                <li class="cf">
                  <div class="bubble me">
                    What's up? <span class="time">11:49</span>
                  </div>
                </li>
                <li class="cf">
                  <div class="bubble them">
                    I'm good! <span class="time">11:49</span>
                  </div>
                </li>
                <li class="cf">
                  <div class="bubble me">
                    Here's a really long sentence about how boring I can be when I type a really long sentence out. I'm really just testing the chat. Or am I? <span class="time">11:49</span>
                  </div>
                </li>
              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" id="conversation3">...</div>
            <div role="tabpanel" class="tab-pane" id="conversation4">...</div>
          </div>

        </div>
      </div>
      
     

    </div>
  </div>

</div>