<div id="messaging">
  
  <div class="row">
    <div class="col-sm-8"><h1 class="standard">Chat</h1></div>
    <!-- <div class="col-sm-4">
      <form action="/chat" method="get">
        <div id="search-projects" class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search messages and users" value="<%= params[:search] %>">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                Search <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
        </div>
      </form>
    </div> -->
  </div>
  

            


  <div class="row recent-conversations">
    <div class="col-sm-4">
      <h2 class="standard">Recently Viewed</h2>
      <ul id="folder-select" class="nav nav-pills nav-stacked" role="tablist">
        <% @viewed.each_with_index do |user, index| %>
          <%= render "profile_item", user: user %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2 class="standard">Conversations</h2>
      <ul id="folder-select" class="nav nav-pills nav-stacked" role="tablist">
        <% @conversed_with.each_with_index do |user, index| %>
          <%= render "profile_item", user: user %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2 class="standard">Details Purchased</h2>
    </div>
  </div>
</div>

<!--  <%# @users.each_with_index do |user, index| %>
    <li><%#= user.id %> - <%#= user.full_name %>
      <%#= link_to "Send Message", "#", class: "btn btn-default btn-xs start-conversation",
            "data-sid" => current_user.id, "data-rip" => user.id %></li>
  <%# end %>
</ul> -->