<div class="" id="drivers">
  <div class="row">
    <div class="col-sm-4 filters">
      <h1 class="standard">Freelancers For Hire</h1>
      <form action="">
        <ul>
          <li>
            <label>What work do you require?</label>
            <select class="form-control">
              <option>Select a category of work</option>
              <option>Mobile</option>
              <option>Writing</option>
              <option>Design</option>
              <option>Data Entry</option>
              <option>Other</option>
            </select>
          </li>
          <li>
            <label>Skills</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search skill...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </li>
          <li>
            <label>Countries</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search country...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </li>
          <li>
            <label>Exams</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search exams...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </li>
          <li>
            <label>Hourly Rate (GBP)</label>
            <select class="form-control">
              <option>Any hourly rate</option>
              <option>Mobile</option>
              <option>Writing</option>
              <option>Design</option>
              <option>Data Entry</option>
              <option>Other</option>
            </select>
          </li>
          <li>
            <label for="rating">Rating</label><br>
            <%= image_tag "profile/rating.png" %>
          </li>
          <li>
            <label for="online">Online</label>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Online freelancers only (for instant chat)
              </label>
            </div>
          </li>
        </ul>
        
      </form>
    </div>
    <div class="col-sm-8 candidates">
      <div class="tags">
        <a href="" class="tag"><i class="glyphicon glyphicon-remove"></i> Online users</a>
        <a href="" class="tag"><i class="glyphicon glyphicon-remove"></i> ASP</a>
      </div>
      <%= form_tag drivers_path, method: 'GET' do %>
        <div class="search-freelancers input-group input-group-lg">
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search for freelancers" %>
          <span class="input-group-btn">
            <button class="btn btn-default green-button" type="submit">Search</button>
          </span>
        </div><!-- /input-group -->
      <% end %>
      <p class="number-of-results">Showing <%= pluralize(@drivers.length, 'Result') %></p>
      <nav>
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">11</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
      <div class="candidate-list">
        <ul>
          <% @drivers.each do |driver| %>
            <li class="candidate cf">
              <!-- <a class="profile-photo-container"> -->
              <%= link_to user_path(driver.username), class: 'profile-photo-container' do %>
                <%= image_tag driver.photo_url(:profile).to_s, class: 'icon' %>
              <% end %>
              <!-- </a> -->
              <div class="candidate-info">
                <button class="btn btn-default hire-me">
                  <div class="logo-wrap">                
                    <%= image_tag "profile/logo.png" %>
                  </div>
                  Hire Me
                </button>
                <div class="online-circle online"></div>
                <p class="name">
                  <%= link_to driver.full_name, user_path(driver.username) %>
                  <%= image_tag "profile/greatbritian.png", class: "nationality" %>
                </p>
                <div class="info-row">
                  <span class="rating-number">4.9</span>
                  <span class="stars">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                  </span>
                  <a href="" class="reviews">1628 reviews</a>
                  <span class="fee">$25 USD/hr</span>
                </div>
                <div class="skills-row">
                  <a href="">PHP</a>
                  <a href="">MySQL</a>
                  <a href="">Perl</a>
                  <a href="">HTML</a>
                  <a href="">Website Design</a>
                </div>
                <p class="description">
                  <%= driver.long_description %> ... <%= link_to 'more', user_path(driver.username) %>
                </p>
              </div>
            </li>
          <% end %>
          <!-- <li class="candidate cf">
            <a class="profile-photo-container">
              <%= image_tag "chat/chat_icon.png", class: "icon" %>
            </a>
            <div class="candidate-info">
              <button class="btn btn-default hire-me">
                <div class="logo-wrap">                
                  <%= image_tag "profile/logo.png" %>
                </div>
                Hire Me
              </button>
              <div class="online-circle online"></div>
              <p class="name">
                <a href="">DezineGeek</a>
                <%= image_tag "profile/greatbritian.png", class: "nationality" %>
              </p>
              <div class="info-row">
                <span class="rating-number">4.9</span>
                <span class="stars">
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                </span>
                <a href="" class="reviews">1628 reviews</a>
                <span class="fee">$25 USD/hr</span>
              </div>
              <div class="skills-row">
                <a href="">PHP</a>
                <a href="">MySQL</a>
                <a href="">Perl</a>
                <a href="">HTML</a>
                <a href="">Website Design</a>
              </div>
              <p class="description">
                We are a team of technocrats with expertise in various domains ranging from Web Applications to Desktop Applications, Mobility solutions to Database and Systems solutions, Driver development to Cloud storage, and even more. We cater for almost all needs using a wide range of software tools. These are a few among ... <a href="">more</a>
              </p>
            </div>
          </li>
          <li class="candidate cf">
            <a class="profile-photo-container">
              <%= image_tag "chat/chat_icon.png", class: "icon" %>
            </a>
            <div class="candidate-info">
              <button class="btn btn-default hire-me">
                <div class="logo-wrap">                
                  <%= image_tag "profile/logo.png" %>
                </div>
                Hire Me
              </button>
              <div class="online-circle online"></div>
              <p class="name">
                <a href="">DezineGeek</a>
                <%= image_tag "profile/greatbritian.png", class: "nationality" %>
              </p>
              <div class="info-row">
                <span class="rating-number">4.9</span>
                <span class="stars">
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                </span>
                <a href="" class="reviews">1628 reviews</a>
                <span class="fee">$25 USD/hr</span>
              </div>
              <div class="skills-row">
                <a href="">PHP</a>
                <a href="">MySQL</a>
                <a href="">Perl</a>
                <a href="">HTML</a>
                <a href="">Website Design</a>
              </div>
              <p class="description">
                We are a team of technocrats with expertise in various domains ranging from Web Applications to Desktop Applications, Mobility solutions to Database and Systems solutions, Driver development to Cloud storage, and even more. We cater for almost all needs using a wide range of software tools. These are a few among ... <a href="">more</a>
              </p>
            </div>
          </li>
          <li class="candidate cf">
            <a class="profile-photo-container">
              <%= image_tag "chat/chat_icon.png", class: "icon" %>
            </a>
            <div class="candidate-info">
              <button class="btn btn-default hire-me">
                <div class="logo-wrap">                
                  <%= image_tag "profile/logo.png" %>
                </div>
                Hire Me
              </button>
              <div class="online-circle online"></div>
              <p class="name">
                <a href="">DezineGeek</a>
                <%= image_tag "profile/greatbritian.png", class: "nationality" %>
              </p>
              <div class="info-row">
                <span class="rating-number">4.9</span>
                <span class="stars">
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                </span>
                <a href="" class="reviews">1628 reviews</a>
                <span class="fee">$25 USD/hr</span>
              </div>
              <div class="skills-row">
                <a href="">PHP</a>
                <a href="">MySQL</a>
                <a href="">Perl</a>
                <a href="">HTML</a>
                <a href="">Website Design</a>
              </div>
              <p class="description">
                We are a team of technocrats with expertise in various domains ranging from Web Applications to Desktop Applications, Mobility solutions to Database and Systems solutions, Driver development to Cloud storage, and even more. We cater for almost all needs using a wide range of software tools. These are a few among ... <a href="">more</a>
              </p>
            </div>
          </li>
          <li class="candidate cf">
            <a class="profile-photo-container">
              <%= image_tag "chat/chat_icon.png", class: "icon" %>
            </a>
            <div class="candidate-info">
              <button class="btn btn-default hire-me">
                <div class="logo-wrap">                
                  <%= image_tag "profile/logo.png" %>
                </div>
                Hire Me
              </button>
              <div class="online-circle online"></div>
              <p class="name">
                <a href="">DezineGeek</a>
                <%= image_tag "profile/greatbritian.png", class: "nationality" %>
              </p>
              <div class="info-row">
                <span class="rating-number">4.9</span>
                <span class="stars">
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                </span>
                <a href="" class="reviews">1628 reviews</a>
                <span class="fee">$25 USD/hr</span>
              </div>
              <div class="skills-row">
                <a href="">PHP</a>
                <a href="">MySQL</a>
                <a href="">Perl</a>
                <a href="">HTML</a>
                <a href="">Website Design</a>
              </div>
              <p class="description">
                We are a team of technocrats with expertise in various domains ranging from Web Applications to Desktop Applications, Mobility solutions to Database and Systems solutions, Driver development to Cloud storage, and even more. We cater for almost all needs using a wide range of software tools. These are a few among ... <a href="">more</a>
              </p>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>