<div id="jobs">

  <% if @category %>
    <h1 class="standard"><%= @category.vehicle %> Jobs</h1>

    <div class="row">
      <div class="col-sm-7">
        <p id="breadcrumb">More categories: <%= link_to "Taxi", jobs_path %>, <a href="">Van</a>, <a href="">Car</a>, <a href="">Lorry</a></p>

        <p id="job-description">
          <%= @category.description %>
        </p>
        <p>
          <a href="">Hire <%= @category.name_of_user %>s</a> on DriverHunt<br>
          <a href="">Find <%= @category.name_of_user %>s</a> on DriverHunt
        </p>
      </div>

      

      <div id="signup" class="col-sm-5">
        <h2>Are you a <%= @category.name_of_user.titleize %>?</h2>
        <h3>You could be earning money working on these jobs!</h3>
        <button class="btn btn-default orange-button">Signup Now</button>
        <p>Our <%= @category.vehicle %> Community:</p>
        <ul>
          <li>19,867 <%= @category.vehicle %> Jobs to date</li>
          <li>£7,121,771 <%= @category.vehicle %> Jobs value to date</li>
        </ul>
      </div>
    </div>
    <% else %>
  <h1 class="standard">All Jobs</h1>
  <% end %>

  <!-- <div class="row">
    <div id="see-more-searches" class="col-xs-12">      
        <ul>
          <span>See more: </span>
          <li><a href="">blackberry app</a></li>
          <li><a href="">blackberry application</a></li>
          <li><a href="">blackberry sip</a></li>
          <li><a href="">blackberry apps</a></li>
          <li><a href="">blackberry voip</a></li>
          <li><a href="">sip blackberry</a></li>
          <li><a href="">blackberry app</a></li>
          <li><a href="">blackberry application</a></li>
          <li><a href="">blackberry sip</a></li>
          <li><a href="">blackberry apps</a></li>
          <li><a href="">blackberry voip</a></li>
          <li><a href="">sip blackberry</a></li>
          <li><a href="">blackberry app</a></li>
          <li><a href="">blackberry application</a></li>
          <li><a href="">blackberry sip</a></li>
          <li><a href="">blackberry apps</a></li>
          <li><a href="">blackberry voip</a></li>
          <li><a href="">sip blackberry</a></li>
          <li><a href="">blackberry application</a></li>
          <li><a href="">blackberry sip</a></li>
          <li><a href="">blackberry apps</a></li>
          <li><a href="">blackberry voip</a></li>
          <li><a href="">sip blackberry</a></li>
        </ul>
    </div>
  </div> -->
  
  <form id="jobs-filter" action="/jobs" method="get">
    <div id="search-box">
      <div id="first-search-row" class="cf">
        <nav id="pagination-wrap">
          <%#= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
        </nav>
        <!-- <div id="showing">
          <p>Show</p>
          <select class="form-control">
            <option>5</option>
            <option selected="selected">10</option>
            <option>20</option>
            <option>100</option>
          </select>
        </div> -->
        
      </div>
      <!-- <div class="input-group tab-search">
        <input type="text" class="form-control" placeholder="Type to filter projects and contests by skills">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div> -->
      <div id="third-search-row" class="row">
        <div class="col-sm-6">
          <!-- <div id="project-type-wrap" class="search-item">
            <label class="main-label" for="project-type">Project type</label>
            <label class="checkbox-label">
              <input type="checkbox"> Full Time
            </label>
            <label class="checkbox-label">
              <input type="checkbox"> Part Time
            </label>
            <label class="checkbox-label">
              <input type="checkbox"> Freelance
            </label>
          </div> -->
          <div class="search-item cf">
            <label class="main-label" for="duration">Search</label>
            <div class="right-box">
              <form action="/jobs" method="get">
                <div id="search-projects" class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search for jobs" value="<%= params[:search] %>">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </span>
                </div>
              </form>
            </div>
          </div>
          <div id="duration" class="search-item">
            <label class="main-label" for="duration">Category</label>
            <div class="right-box">
              <select name="category" class="form-control">
                <option value="">All Categories</option>
                <%= options_for_select(Category.all.map{|c|[c.vehicle + " Jobs", c.vehicle.downcase]}, :selected => params[:category]) %>
              </select>
            </div>
          </div>
          <!-- <div id="listing-types" class="search-item">
            <label class="main-label" for="listing-type">Listing types</label>
            <div class="input-group tab-search">
              <input id="listing-type" type="text" class="form-control" placeholder="Type to filter project listing types">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div>
          </div> -->
        </div>
        <div class="col-sm-6">
          <div id="duration" class="search-item">
            <label class="main-label" for="age">Advert Age</label>
            <div class="right-box">
              <select id="age" name="age" class="form-control">
                <option value="all">From all time</option>
                <option value="month" <%= time_select('month') %>>In the last month</option>
                <option value="week" <%= time_select('week') %>>In the last week</option>
                <option value="day" <%= time_select('day') %>>In the last 24 hours</option>
              </select>
            </div>
          </div>
          <div id="duration" class="search-item">
            <label class="main-label" for="distance">Max Distance</label>
            <div class="right-box">
              <select id="distance" name="max_distance" class="form-control">
                <option value="1">1 mile</option>
                <option value="3">3 miles</option>
                <option value="5" selected="selected">5 miles</option>
                <option value="10">10 miles</option>
                <option value="20">20 miles</option>
                <option value="all">All</option>
              </select>
            </div>
          </div>
          <!-- <div class="search-item">
            <label for="avg-price" class="main-label">Avg Price</label>
            <div class="right-box">
              <select id="avg-price" class="form-control">
                <option>All Prices</option>
                <option>10</option>
                <option>20</option>
                <option>100</option>
              </select>
            </div>
          </div> -->
          <!-- <div class="search-item">
            <label for="avg-hourly-rate" class="main-label">Avg Hourly Rate</label>
            <div class="right-box">
              <select id="avg-hourly-rate"class="form-control">
                <option>All Hourly Rates</option>
                <option>10</option>
                <option>20</option>
                <option>100</option>
              </select>
            </div>
          </div> -->
          <!-- <div class="search-item">
            <label for="languages" class="main-label">Languages</label>
            <div class="right-box">
              <div class="input-group tab-search">
                <input type="text" class="form-control" placeholder="Type to filter projects and contests by skills">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <p class="cf"><a href="" class="pull-right">Clear</a></p>
    </div>

    <div id="jobs-table">
        
      <div class="row jt-header cf">
        <div class="name">Job Name</div>
        <div class="bids"><%= sortable 'distance' %></div>
        <div class="skills">Skills</div>
        <div class="started"><%= sortable 'created_at', 'Started' %></div>
        <div class="price">Who provides vehicle?</div>
      </div>
      <% @jobs.each_with_index do |job, index| %>
      <div class="row cf <%= "odd" if index % 2 == 1 %>">
        <div class="name"><%= job.name %> - <%= job.summary %> - <%= job.description %></div>
        <div class="bids"><%= job.distance_from_user(current_user) || (current_user.latitude ? "location not given" : "add your location") %></div>
        <div class="skills"><%= job.skill_list %></div>
        <div class="started"><%= time_ago_in_words(job.created_at) %> ago</div>
        <div class="price"><%= job.employer_provides_vehicle ? 'Them' : 'You' %></div>
      </div>
      <% end %>

    </div>
  </form>



</div>