<div id="profile" class="row">
  <div class="col-sm-4 left">
    
    <div class="profile-picture">
      <%= link_to upload_photo_path, class: 'change-picture' do %>
        <i class="glyphicon glyphicon-pencil"></i>Change Picture
      <% end %>
      <%= image_tag @user.photo_url(:profile).to_s %>
      <%#= image_tag "profile/me.jpg" %>
      <div class="online">online</div>
    </div>

    <div class="row interactions">
      <div class="col-sm-6 hire">
        <%= link_to buy_path(@user.username) do %>
        <button class="btn hire-me">
          <div class="icon-wrap">
            <%= image_tag "profile/logo.png" %>
          </div>
          <p>Hire</p>
        </button>
        <% end %>
      </div>
      <div class="col-sm-6 chat">
        <%= link_to "Send Message", class: "start-conversation",
          "data-sid" => current_user.id, "data-rip" => @user.id do %>
          <button class="btn hire-me">
            <div class="icon-wrap">
              <%= image_tag "profile/logo.png" %>
            </div>
            <p>Chat</p>
          </button>
        <% end %>
      </div>
    </div>

    <% if current_user.owns(@user) %>
      <div class="contact-details">
        <h2>Contact card:</h2>
        <div class="form-group">
          <label for="">Phone Number:</label>
          <input type="text" class="form-control" disabled="disabled" value="<%= @user.phone_number %>">
        </div>
        <div class="form-group">
          <label for="">Email address:</label>
          <input type="text" class="form-control" disabled="disabled" value="<%= @user.email %>">
        </div>
      </div>
    <% end %>
  

    <!-- 
    <div class="rate">
      Rate: <strong>$17 USD</strong>/hour <a class="edit">[<i class="glyphicon glyphicon-pencil"></i> edit]</a>
    </div>

    <div class="follow-invite-box cf">
      <button id="follow" class="btn btn-default grey-button"><i class="glyphicon glyphicon-plus-sign"></i> Follow</button>
      <button id="invite" class="btn btn-default grey-button">Invite to Project</button>
    </div> -->

    <ul id="profile-controls" class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active">
        <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
          Overview 
          <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
      </li>
      <li role="presentation"><a href="#feedback" aria-controls="feedback" role="tab" data-toggle="tab">Feedback
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a></li>
      <li role="presentation"><a href="#resume" aria-controls="resume" role="tab" data-toggle="tab">
        Résumé
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a></li>
    </ul>

  </div>

  <div class="col-sm-8 tab-content right">
    <div role="tabpanel" class="tab-pane fade in active" id="overview">
      <div class="row">
        <div id="personal-info" class="col-sm-9">
          <h1 class="top-title">
            <%= @user.full_name %>
            <% if @user == current_user %>
              <%= link_to edit_name_path, remote: true, class: 'edit' do %>
                [<i class="glyphicon glyphicon-pencil"></i> <%= current_user.first_name ? 'edit' : 'add name' %>]
              <% end %>
            <% end %>
          </h1>
          <h2 id="personal-summary">
            <% if @user == current_user && current_user.summary %>
              <%= current_user.summary %> 
              <%= link_to edit_summary_path, remote: true, class: 'edit' do %>
                [<i class="glyphicon glyphicon-pencil"></i> edit]
              <% end %>
            <% elsif @user == current_user %>
              <%= link_to edit_summary_path, remote: true, class: 'edit' do %>
                [<i class="glyphicon glyphicon-pencil"></i> Add summary]
              <% end %> <span class="example">For example: "Taxi Driver"</span>
            <% elsif @user.summary %>
              <%= @user.summary %>
            <% end %>
          </h2>
          <p class="username"><strong>Username:</strong> <%= @user.username %> <%= image_tag "profile/trust_symbols.png" %></p>
          <p id="location">
            <% if @user == current_user && current_user.postcode %>
              <strong>Location:</strong> <%= @user.city %>, <%= @user.country %>
              <%= link_to edit_postcode_path, remote: true, class: 'edit' do %>
                [<i class="glyphicon glyphicon-pencil"></i> edit]
              <% end %>
            <% elsif @user == current_user %>
              <strong>Location:</strong> <%= link_to edit_postcode_path, remote: true, class: 'edit' do %>
                [<i class="glyphicon glyphicon-pencil"></i> Add location]
              <% end %>
            <% elsif @user.summary %>
              <strong>Location:</strong> <%= @user.city %>, <%= @user.country %>
            <% end %>
          </p>

          <p><strong>Member since:</strong> <%= @user.created_at.strftime("%B %Y") %></p>

          <div class="description">
            <% if current_user == @user && current_user.long_description %>
              <%= simple_format current_user.long_description %>
              <%= link_to edit_description_path, remote: true, class: 'edit' do %>
                [<i class="glyphicon glyphicon-pencil"></i> edit]
              <% end %>
            <% elsif current_user == @user %>
                <%= link_to edit_description_path, remote: true, class: 'edit' do %>
                  [<i class="glyphicon glyphicon-pencil"></i> Add description]
                <% end %>
               <span class="example">Example: "I have 3 years experience, my own car, and a PCO license."</span>
            <% elsif @user.long_description %>
              <%= simple_format @user.long_description %>
            <% end %>
          </div>
        </div>
        <div id="reputation" class="col-sm-3">
          <h2 class="standard">Reputation</h2>
          <h1 class="rating">0.0<span class="rating-max">/5</span></h1>
          <%= image_tag "profile/rating.png" %><br>
          <a href="">(0 reviews)</a><br><br>
          <p>No user has<br>recommended this<br>freelancer</p>
        </div>
      </div>
      <div class="row second-row">
        <div class="col-sm-4" id="activity">
          <h2 class="standard">My activity:</h2>
          <p>Open Projects: <strong class="pull-right">2</strong></p>
          <p>Active Projects: <strong class="pull-right">0</strong></p>
          <p>Past Projects: <strong class="pull-right">2</strong></p>
        </div>
        <div class="col-sm-8" id="projects">
          <h2 class="standard">My projects:</h2>
          <div class="pie">
            <p>This user has not yet received feedback</p>
          </div>
        </div>
      </div>
      <div class="resume">
        <h1 class="subtitle">Résumé</h1>

        <div class="resume">
          
          <h2 class="standard">Experience
            <% if @user == current_user %>
              <%= link_to add_experience_item_path, remote: true, class: 'add-item' do %>
                + Add Item
              <% end %>
            <% end %>
          </h2>
          <div class="experience-items">
            <% if @experience_items.each do |item| %>
              <%= render 'experience_item', item: item %>
            <% end.empty? %>
              <% if @user == current_user %>
                <%= link_to add_experience_item_path, remote: true, class: 'empty-section' do %>
                  <span class="empty-section-text">+ Add work experience to your résumé</span>
                <% end %>
              <% else %>
                <span class="empty-section">
                  <span class="empty-section-text">Work experience not yet added</span>
                </span>
              <% end %>
            <% end %>
          </div>

          <h2 class="standard">Qualifications
            <% if @user == current_user %>
              <%= link_to add_qualification_item_path, remote: true, class: 'add-item' do %>
                + Add Item
              <% end %>
            <% end %>
          </h2>
          <div class="qualification-items">
            <% if @qualification_items.each do |item| %>
              <%= render 'qualification_item', item: item %>
             <% end.empty? %>
              <% if @user == current_user %>
                <%= link_to add_qualification_item_path, remote: true, class: 'empty-section' do %>
                  <span class="empty-section-text">+ Add qualifications to your résumé</span>
                <% end %>
              <% else %>
                <span class="empty-section">
                  <span class="empty-section-text">Qualifications not yet added</span>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>       
    </div>

    <div role="tabpanel" class="tab-pane fade" id="feedback">
      <h1 class="top-title">Feedback</h1>
      <h2 class="standard">Average Rating <%= image_tag "profile/rating.png" %> <span class="star-rating">0.0</span>

        <select class="form-control select-md">
          <option>All Time</option>
          <option>3 Months</option>
          <option>12 Months</option>
        </select>
      </h2>
      
      <div class="row">
        <div class="col-sm-6 star-breakdown">
          <p class="item">
            Clarity in Specification
            <span class="star-rating">0.0</span>
            <%= image_tag "profile/rating.png" %>
          </p>
          <p class="item">
            Communication
            <span class="star-rating">0.0</span>
            <%= image_tag "profile/rating.png" %>
          </p>
          <p class="item">
            Payment Promptness
            <span class="star-rating">0.0</span>
            <%= image_tag "profile/rating.png" %>
          </p>
          <p class="item">
            Professionalism
            <span class="star-rating">0.0</span>
            <%= image_tag "profile/rating.png" %>
          </p>
          <p class="item">
            Would work for Again
            <span class="star-rating">0.0</span>
            <%= image_tag "profile/rating.png" %>
          </p>

        </div>
        <div class="col-sm-6 activity">
          <p>Open Projects <strong class="pull-right">2</strong></p>
          <p>Active Projects <strong class="pull-right">0</strong></p>
          <p>Past Projects <strong class="pull-right">2</strong></p>

          <p class="total">Total Projects <strong class="pull-right">4</strong></p>
        </div>
      </div>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="resume">

      <h1 class="top-title">
        <%= @user.full_name %>'s Résumé
      </h1>

      <div class="resume">
        <h2 id="resume-summary" class="standard">Summary
          <% if current_user == @user %>
            <%= link_to edit_description_path, remote: true, class: 'edit' do %>
              [<i class="glyphicon glyphicon-pencil"></i> edit]
            <% end %>
          <% end %>
        </h2>
        <div class="description">
          <% if @user.long_description %>
            <%= simple_format current_user.long_description %>
          <% elsif @user == current_user %>
            <p>Describe yourself. Where would you like to work?</p>
          <% end %>
        </div>
        
        <h2 class="standard">Experience
          <% if @user == current_user %>
            <%= link_to add_experience_item_path, remote: true, class: 'add-item' do %>
              + Add Item
            <% end %>
          <% end %>
        </h2>
        <div class="experience-items">
          <% if @experience_items.each do |item| %>
            <%= render 'experience_item', item: item %>
          <% end.empty? %>
            <% if @user == current_user %>
              <%= link_to add_experience_item_path, remote: true, class: 'empty-section' do %>
                <span class="empty-section-text">+ Add work experience to your résumé</span>
              <% end %>
            <% else %>
              <span class="empty-section">
                <span class="empty-section-text">Work experience not yet added</span>
              </span>
            <% end %>
          <% end %>
        </div>

        <h2 class="standard">Qualifications
          <% if @user == current_user %>
            <%= link_to add_qualification_item_path, remote: true, class: 'add-item' do %>
              + Add Item
            <% end %>
          <% end %>
        </h2>
        <div class="qualification-items">
          <% if @qualification_items.each do |item| %>
            <%= render 'qualification_item', item: item %>
           <% end.empty? %>
            <% if @user == current_user %>
              <%= link_to add_qualification_item_path, remote: true, class: 'empty-section' do %>
                <span class="empty-section-text">+ Add qualifications to your résumé</span>
              <% end %>
            <% else %>
              <span class="empty-section">
                <span class="empty-section-text">Qualifications not yet added</span>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>