<div data-role="page" id="home">

  <%= render "header" %>
  <%= render "user" %>

  <div data-role="content">
  
  <h2>Welcome to DriverHunt.com</h2>

  <p>Thank you for your details.</p>

  <p>Our team will verify your infomation and get back to you with personalised matches.</p>

  <p>We're looking forward to working with you soon!</p>

     <p>- The Driver Hunt team</p>
  </div>

  <!-- <div data-role="content">
    <h2><a href="#chat">New Messages</a></h2>
    <ul data-role="listview">
      <li><%= link_to "Message - Person", m_dashboard_path(anchor: 'profile') %></li>
      <li><%= link_to "Message - Person", m_dashboard_path(anchor: 'profile') %></li>
    </ul>
    <br><br>

    <h2>Jobs you've posted</h2>
    <ul data-role="listview">
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
    </ul>
    <br><br>

    <h2>Jobs you've applied to</h2>
    <ul data-role="listview">
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
    </ul>
  </div> -->
</div>

