<div data-role="page" id="home">
  <%= render "menu" %>
  <%= render "header", title: 'Driver Hunt Home' %>

  <div data-role="content">
    <h2><a href="#chat">New Messages</a></h2>
    <ul data-role="listview">
      <li><%= link_to "Message - Person", m_dashboard_path(anchor: 'profile') %></li>
      <li><%= link_to "Message - Person", m_dashboard_path(anchor: 'profile') %></li>
    </ul>
    <br><br>

    <h2>Jobs you've posted</h2>
    <ul data-role="listview">
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
    </ul>
    <br><br>

    <h2>Jobs you've applied to</h2>
    <ul data-role="listview">
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
      <li><%= link_to "Job Name", m_dashboard_path(anchor: 'profile') %></li>
    </ul>
  </div>
</div>

<%= render "user" %>

<%= render "post_job" %>

<%= render "chat" %>

<%= render "my_jobs" %>
<%= render "browse_jobs" %>
<%= render "profile" %>
<%= render "help" %>


