<div data-role="page" id="home">

  <%= render "logo" %>

  <!-- <header data-role="header">
    <% if user_signed_in? %>
      <a href="#user" data-icon="user" data-iconpos="notext" class="ui-btn-right"></a>
    <% end %>
  </header> -->

  <section class="above-fold">
    <%= image_tag 'logo-white.png', class: 'main-logo' %>
    <h2>Find and chat to drivers in minutes</h2>
  </section>
  <section class="segment how-it-works">
    <h2>How it works</h2>
    <div id="method-box-wrap">
      <div id="method-box" class="cf">
        <div class="method-item cf">
          <%= image_tag 'hire/job.png' %>
          <p>Post your job</p>
        </div>
        <div class="method-item cf">
          <%= image_tag 'hire/people.png' %>
          <p>Compare & chat to drivers</p>
        </div>
        <div class="method-item cf">
          <%= image_tag 'hire/money.png' %>
          <p class="raised">Buy the perfect driver<br> when 100% satisfied</p>
        </div>
      </div>
    </div>

    <form action="/m/jobs/new" method="GET" class="category-and-address-section">

      <label for="other-category">I need...</label>     
      <select name="category" id="job_category" name="category" class="form-control">
        <option value="default">Select type of driver</option>
        <%= options_for_select(Category.all.map{|c|[c.name_of_user.titleize + "s", c.id]}, params[:category]) %>
      </select>

      <div id="address-row">
        <%= label :postcode, "Near this postcode or address:" %>
        <%= text_field_tag :postcode, nil, class: 'postcode-finder', placeholder: 'E.g. SW1 3BH' %>
      </div>

      <button type="submit" id="hire-button" class="btn btn-default red-button">Post Job</button>
    </form>
  </section>
  <section class="segment hire-professionals" data-role="content">

    <h2>Hire talented professionals</h2>

    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div class="img-wrap">
          <%= image_tag 'examples/example-6.jpg' %>
          <p class="caption">John - Car driver</p>
        </div>
        
        <div class="img-wrap">
        <%= image_tag 'examples/example-4.jpg' %>
          <p class="caption">James - Lorry driver</p>
        </div>

        <div class="img-wrap">
        <%= image_tag 'examples/example-7.jpg' %>
          <p class="caption">Thomas - Motorcycle rider</p>
        </div>


      </div>
      <div class="ui-block-b">
        <div class="img-wrap">
        <%= image_tag 'examples/example-5.jpg' %>
          <p class="caption">Muhat - Bike courier</p>
        </div>

        <div class="img-wrap">
        <%= image_tag 'examples/example-3.jpg' %>
          <p class="caption">Jason - Moped rider</p>
        </div>

        <div class="img-wrap">
        <%= image_tag 'examples/example-1.jpg' %>
          <p class="caption">Adam - Van driver</p>
        </div>

    </div><!-- /grid-a -->

  </section>
  <section class="segment get-now" data-role="content">
    <h2>Get your drivers now...</h2>

    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div class="img-wrap">
          <%= image_tag 'home/get-started/icon-1.png' %>
          <p>See their license online</p>
        </div>
        <div class="img-wrap">
          <%= image_tag 'home/get-started/icon-3.png' %>
          <p>No agency fees</p>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="img-wrap">
          <%= image_tag 'home/get-started/icon-2.png' %>
          <p>Chat to drivers direct</p>
        </div>
        <div class="img-wrap">
          <%= image_tag 'home/get-started/icon-4.png' %>
          <p>Car, Bike, Taxi, Van, Lorry</p>
        </div>
    </div><!-- /grid-a -->

  </section>
  
</div> <!-- page -->

<%= render "user" %>