<div data-role="page" id="find-jobs">
  <%= render 'user' %>

  <header data-role="header">
    <h1>Sign Up to Find Jobs</h1>
    <a href="#home" data-icon="home" data-iconpos="notext"></a>
    <% if user_signed_in? %>
      <a href="#user" data-icon="user" data-iconpos="notext" class="ui-btn-right"></a>
    <% end %>
  </header>

  <section data-role="content">
    <%= link_to user_omniauth_authorize_path(:facebook, mobile: true, signup: true), data: {ajax: 'false'} do %> 
      <button class="btn facebook-button">
        <%#= image_tag "facebook.png" %>
        Sign up with Facebook
      </button>
    <% end %>

    <p class="tiny-title">or sign up with email:</p>
    <p><%= resource.to_yaml %></p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'email-signup', id: 'signup-form', data: {ajax: 'false'}}, :authenticity_token => true) do |f| %>
      <%= render 'signup_form', f: f %>
    <% end %>
    <br>
    <p class="tiny-title">or do you already have an account?<br><a href="#sign-in">Sign in to your existing account</a></p>
  </section>

  <div data-role="footer">
    <div data-role="content">
      <p id="terms-create-account">By registering you confirm that you accept the <%= link_to "Terms and Conditions", m_terms_path, target: "_blank" %></a> and <%= link_to "Privacy Policy", m_privacy_path, target: "_blank" %></p>
    </div>
  </div>    

</div> <!-- page -->

<div data-role="page" id="sign-in">

  <header data-role="header">
    <h1>Sign In</h1>
    <a href="#home" data-icon="home" data-iconpos="notext"></a>
    <% if user_signed_in? %>
      <a href="#user" data-icon="user" data-iconpos="notext" class="ui-btn-right"></a>
    <% end %>
  </header>

  <div data-role='content'>
    <%= link_to user_omniauth_authorize_path(:facebook, mobile: true), data: {ajax: 'false'} do %> 
    <button class="btn facebook-button">
      <%#= image_tag "facebook.png" %>
      Sign in with Facebook
    </button>
    <% end %>

    <p class="tiny-title">or sign in with email:</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'email-signup cf', id: 'login-form', data: {ajax: 'false'}}, :authenticity_token => true) do |f| %>
      <%= render 'login_form', f: f %>
    <% end %>

    <hr>

    <p id="no-account">Don't have an account?<a href="#find-jobs"> Sign up now!</a></p>
  </div>

  <div data-role="footer">
    <div data-role="content">
      <p id="terms-create-account">By registering you confirm that you accept the <%= link_to "Terms and Conditions", m_terms_path, target: "_blank" %></a> and <%= link_to "Privacy Policy", m_privacy_path, target: "_blank" %></p>
    </div>
  </div>
</div> <!-- page -->