<div data-role="page" id="signup">

  <header data-role="header">
    <h1>Sign up for free to post!</h1>
  </header>

  <section data-role="content">
    <%= link_to user_omniauth_authorize_path(:facebook, job_id: params[:job], mobile: true, hunter:true), data: {ajax: 'false'} do %> 
      <button class="btn facebook-button">
        <%#= image_tag "facebook.png" %>
        Sign up with Facebook
      </button>
    <% end %>

    <p class="centered">or</p>

    <button class="btn big green-button no-shadow form-control">
      or Sign up with Email
    </button>

    <div class="email-info">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'email-signup', id: 'signup-form' }, :authenticity_token => true) do |f| %>
        <input type="hidden" name="hunter", value="true">
        <input type="hidden" name="job_id", value="<%= params[:job] %>">

        <%= render 'signup_form', f: f %>
      <% end %>
    </div>
    
    <br>
    <p class="tiny-title">or do you already have an account?<br><a href="#login">Login to existing account</a></p>
  </section>

  <div data-role="footer">
    <div data-role="content">
      <p id="terms-create-account">By registering you confirm that you accept the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a></p>
    </div>
  </div>
</div> <!-- page -->


<div data-role="page" id="login">

  <header data-role="header">
    <h1>Log in to post your job!</h1>
  </header>

  <div data-role='content'>    
    <%= link_to user_omniauth_authorize_path(:facebook, job_id: params[:job], mobile: true, hunter:true), data: {ajax: 'false'} do %> 
      <button class="btn facebook-button">
        <%#= image_tag "facebook.png" %>
        Log in with Facebook
      </button>
    <% end %>

    <p class="centered">or</p>

    <button class="btn big green-button no-shadow form-control">
      or Log in with Email
    </button>

    <div class="email-info">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'email-signup cf', id: 'login-form'}, remote: true, :authenticity_token => true) do |f| %>
        <%= f.hidden_field :job_id, value: params[:job] %>
        <%= render 'login_form', f: f %>
        <input type="hidden" name="hunter", value="true">
      
      <% end %>

    </div>

    <hr>

    <p id="no-account">Don't have an account?<a href="#signup"> Sign up now!</a></p>
  </div>

  <div class="modal-footer">
    <div data-role="content">
      <p id="terms-create-account">By registering you confirm that you accept the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a></p>
    </div>
  </div>
</div> <!-- page -->