$xlarge: 60px;
$large: 22px;
$medium: 18px;

$header-height: 80px;
$fold-height: 529px;

$login-grey: #4d515a;
$header-grey: #333;
$how-text-grey: #5a5d66;
$get-started-grey: #4b4e55;
$red: #e2585d;
// Shared


select{
  font-size:15px;
  height: 50px;
}
#second-select-wrap{
  margin-top: 20px;
  padding-left: 20px;
}



h1.homepage-header{
  font-size: 32px;
  color: $header-grey;
  font-weight: normal;
}

// End Shared

// Header

.logo{
  width: 250px;
  margin-top: 15px;
}

.fixed-top{
  height: $header-height; // Also adjust margin-top of carousel
  background: white;
  background: rgba(255,255,255,.97);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
.login-prompt{
  float: right;
  display: block;
  position: relative;
  .header-text{
    font-size: 14px;
    color: $login-grey;
    display: inline-block;
    margin-top: 22px;
    margin-right: 28px;
    padding: 10px;
  }
  .header-button{
    display: inline-block;
    float: right;
    margin-top: 23px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    height: 35px;
  }
  
}

#user-dropdown-wrap{
  display: inline-block;
  margin-top: 21px;
  margin-right: 20px;
  button{
    border-radius: 3px;
    color: grey;
  }
  ul{
    text-align: right;
    .user-name{
      color: #6C6F78;
    }
    &:first-letter{
      text-transform: capitalize;
    }
    p{
      margin-bottom: 10px;
      padding: 10px;
    }
    a{
      padding: 5px 10px;
      &:first-of-type, &:last-of-type{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

// End Header

// Carousel

#carousel{
  margin-top: $header-height;
  height: $fold-height;
  width: 100%;
  color: white;
  h1{
    width: 40%;
    margin-top: 126px;
    margin-bottom: 0px;
    font-size: $xlarge;
  }
  h2{
    width: 40%;
    margin-top: 14px;
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: $medium;
    letter-spacing: 2px;
    line-height: 30px;
  }
  .carousel-inner{
    height: 100%;
    .item{
      height: 100%;
    }
  }
  .hire-work-buttons{
    height: 60px;
    width: 140px;
    // border: 2px solid white;
    // background-color: transparent;
    color: white;
    font-size: $large;
    margin-right: 12px;
    border-radius: 6px;
  }
}

#carousel-1{
  background-image:url("above_fold.jpg");
}

// End Carousel

// Hire section

#hire{
  display: none;
  background-color: #F4F4F4;
  margin-top: $header-height;
  h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
  }
  #method-box-wrap{
    text-align: center;
    #method-box{
      display: inline-block;
      margin: 0 auto 43px;
      .method-item{
        float: left;
        text-align: center;
        img{
          display: inline-block;
        }
        p{
          text-align: center;
          font-size: 15px;
          font-weight: lighter;
        }
      }
      .chevron{
        float: left;
        color: #434343;
        font-size: 54px;
      }
    }
  }
  form{
    width: 320px;
    margin: 0 auto 60px;

    // .map-wrap{
    //   text-align: center      
    // }
    #address-row label{
      margin-top: 10px;
    }
    // img{
    //   border-radius: 2px;
    //   margin-top: 10px;
    // }

    button{
      width: 100%;
    }
    
    #hire-button{
      &.btn-default[disabled]{
        background-color: #aaa;
      }
      margin-top: 50px;
      height: 55px;
      font-size: 18px;
      border-radius: 4px;
    }
  }
  a#looking-for-work{
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
}

// End hire section

// Work signup Section

#work-signup, #login{
  display: none;
  margin-top: $header-height;
  text-align: center;
  h1{
    margin-top: 50px;
    margin-bottom: 45px;
  }
  .facebook-button{
    height: 56px;
    width: 295px;
    font-size: 20px;
  }
  .or-line{
    margin-top: 27px;
    .line{
      float: left;
      height: 11px;
      border-bottom: 1px solid #cecfd1;
      width: 48%;
    }
    .or{
      float: left;
      font-size: 16px;
      color: #6c6f78;
      width: 3%;
      font-style: italic;
      font-family: serif;
      margin-right: 1px;
    }
  }
  form.email-signup{
    width: 320px;
    margin: 30px auto 0;
    .form-group{
      position: relative;
      i{
        color: #a9a9a9;
        position: absolute;
        top: 8px;
        left: 9px;
        font-size: 18px;
      }
      input{
        padding-left: 34px;
      }
    }
    #work-type{
      color: #6c6f78;
      margin-top: 26px;
      #hire-work-radios{
        display: inline-block;
        width: 165px;
        margin-top: 7px;
        border: 1px solid #898989;
        label{
          float: left;
          width: 80px;
          height: 100%;
          margin-bottom: 0;
          padding: 10px 0;
          &:first-of-type{
            border-right: 1px solid #898989;
          }
        }
      }
    }
    .green-button{
      margin-top: 28px;
      height: 50px;
      width: 210px;
      font-size: 18px;
    }
    #terms-create-account{
      margin-top: 28px;
      color: #71757c;
      font-size: 14px;
    }
  }

  #remember-me.checkbox{
    padding-top: 6px;
    text-align: left;
    color: #70737c;
    margin-bottom: 5px;
  }

  #create-account{
    margin-top: 18px;
    float: left;
    height: 58px;
    width: 50%;
    font-size: 18px;
  }

  #forgot-password{
    margin-top: 37px;
    margin-left: 20px;
    display: inline-block;
  }

  hr{
    border-color: #cecfd1;
    margin: 30px 0;
  }

  #no-account{
    color: #70737c;
  }

}

#login{
  padding-top: 45px;
}

#login-errors, #signup-errors{
  color: #a94442;
  list-style-type: none;
  padding: 0;
  li:first-letter{
    text-transform: capitalize;
  }
}

// End Work Signup section

// How it works

#how-it-works{
  padding-top: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid #dadee0;

  .how-text{
    width: 40%;
    float: left;
    h1{
      margin-top: 0;
      margin-bottom: 0;
    }
    p{
      color: $header-grey;
      margin-top: 40px;
      font-size: 15px;
      line-height: 23px;
      &.benefits{
        font-size: 24px;
        margin-bottom: 20px;
        // font-weight: bold;
      }
    }
  }
  ul.tick{
    padding-left: 15px;
    list-style-type: none;
    li {   
      color: $header-grey;
      padding-left: 22px;   
      background:url('tick.png') no-repeat 0 0;
      margin-bottom: 20px;
    }
  }
  .how-gif{
    width: 50%;
    margin-left: 10%;
    float: left;
    padding-left: 100px;
    // padding-top: 200px;
    #explainer{
      width: 100%;
    }
  }
}

// End how it works

// Examples

#examples{
  background-color: #dfebee;
  padding-top: 70px;
  padding-bottom: 80px;
  h1{
    margin-top: 0;
    text-align: center;
    margin-bottom: 46px;
  }
  img{
    width: 100%;
    border-radius:0;
    padding: 12px;
    background-color: white;
    // border: 120px solid white;
  }
  .row{
    margin-bottom: 25px;
    .col-sm-3{
      // padding-top: 10px;
      // padding-bottom: 10px;
      // background-color: white;
      // padding-left: 25px;
      // padding-right: 25px;
    }
  }
}

// End Examples

// Get started

#get-started{
  h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 75px;
  }
  .col-sm-3{
    text-align: center;
    img{
      display: inline-block;
    }
    p{
      margin: 30px 0 0;
      font-size: 20px;
      color: $get-started-grey;
    }
  }
}

// End get started



