<%= hidden_field :mobile, value: 1 %>
<% if resource.errors.any? %>
<ul class="login-errors">
  <% resource.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div data-role="fieldcontain">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, placeholder: 'Enter First Name' %>
</div>

<div data-role="fieldcontain">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, placeholder: 'Enter Last Name' %>
</div>

<div data-role="fieldcontain">
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: 'Enter Email' %>
</div>

<div data-role="fieldcontain">
  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
</div>

<div data-role="fieldcontain">
  <%= f.label :password_confirmation, "Confirm your password" %>
  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm password' %>
</div>

<%= f.submit "Create account", class: 'btn green-button' %>