<div class="dropdown" id="user-dropdown-wrap">
  <button class="btn btn-default dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown" aria-expanded="true">
    <i class="glyphicon glyphicon-user"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="user-dropdown">
    <li role="presentation">
      <p class="user-name"><%= current_user.email %>  </p>          
    </li>
    <li role="presentation">
      <%= link_to 'My profile', user_path(current_user.username.downcase), role: "menuitem", tabindex: '-1' %>
    </li>
    <!-- <li role="presentation">
      <%#= link_to "Settings", edit_user_registration_path , role: "menuitem", tabindex: '-1' %>
    </li> -->
    <li role="presentation">
      <%= link_to "Logout", destroy_user_session_path, :method => :delete, role: "menuitem", tabindex: '-1' %>
    </li>
  </ul>
</div>